
.hero {
  padding: 0 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  text-align: left;
  color: white;
  background-image: 
    url("/public/images/bg-shape.png"),  
    url("/public/images/bg-main.jpeg");
  background-position: 
    top 45px left 629px,
    center;   
  background-repeat: 
    no-repeat, 
    no-repeat;
  background-size: 
    300px,     
    cover;   
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.hero-text .btn-primary {
  margin-top: 12px;
}

.hero-image img {
  max-width: 100%;
}

.hero-form {
  background: #fff;
  padding:24px;
  border-radius: 12px;
}

.hero-form h3 {
  margin-bottom: 18px;
  color: var(--color-dark);
  font-size: 1.3rem;
  font-weight: 600;
  padding-right:40px;
}

.hero-form button {
  margin-top: 8px;
}

/* Responsive */
@media (max-width: 992px) {
  .hero-container {
    grid-template-columns: 1fr 1fr;
  }

  .hero-form {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    order: -1;
  }
}
.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-btn:hover {
  background: #e55b00;
}
.hero-content {
  max-width: 800px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

