.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 14px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 45px;
}

.nav-links {
  display: flex;
  gap:45px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
  justify-items: center;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-secondary);
}

.phone a {
  display: inline-block;
  padding: 12px 33px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .phone {
    display: none;
  }
}
